body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin:  0;
    padding: 0;
}

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
    margin-bottom: 1.5rem;
}

html {
    font-size: 18px;
    line-height: 1.5;
    background-color: #f3f0f0;
    color: #333;
}

body {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
